<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Pokemon Tournament</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>

<header id="header">
    <h1><a th:href="@{/}">Pokemon Tournament </a></h1>
</header>

<section id="banner">
    <div class="inner">
        <header>
            <h1 th:text="${tournamentO.id}">TournamentId</h1>
        </header>

        <a href="#main" class="button big alt scrolly" th:href="@{/pokemonss/view}">View Tournament</a>
        <!--<form  th:action="@{/pokemonss/addplayers}" th:object="${tournament}" method="post">-->
            <!--<input type="hidden" th:field="*{id}">-->
            <!--<input type="hidden" th:field="*{rule}">-->
            <!--<p>Names: <input type="text" th:field="*{name}" name="playerName" /></p>-->
            <!--<p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>-->
        <!--</form>-->
    </div>
</section>

</html>